<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sun 
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Sun gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Sun"></app-explore-container>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/97/9b/68/979b68c16f2e3a48145c96ffbce04180.jpg" />
    <ion-card-header>
      <ion-card-title>Image one </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/44/b5/5d/44b55d0d653a3b4e5d3091c927636ae2.jpg" />
    <ion-card-header>
      <ion-card-title>Image one</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/c1/ef/b7/c1efb7bb1bee4f3daa9f37c498fe5647.jpg" />
    <ion-card-header>
      <ion-card-title>Image one</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/08/7c/4b/087c4bdfab6b5a8a2f5fac9bc1e274b4.jpg" />
    <ion-card-header>
      <ion-card-title>Image one</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  
</ion-content>
